@{
    ViewData["Title"] = "Home Page";
}

<section id="herosection" class="d-flex align-items-center justify-content-center">
        <h1 class="herosection-title">
            Super Flash Sale <br> 50% Off
        </h1>
        
        <section class = "quick-display-section">
            <div class = "d-flex justify-content-center quick-display-div">
                    <div class = "quick-display-item quick-display-item-1 img-fit">
                    <div>
                        <p class = "text-overflow-ellipsis"> FS-QUILTED MAXI </p>
                        <p class = "text-overflow-ellipsis"> CROSS BAG</p>
                        @*
                           <div id="black-bag">
                             <img src="./Images/black_bag.png" alt="">
                         </div>*@
                        
                        <!-- <p class="bag-cost" > 
                            <span>$534.33</span>
                            <span>24% Off</span>
                         </p> -->
                    </div>
                    <div id="price-slash" >
                        <span id="promo-strike"> <s> $534.33 </s> </span> <span id="promo"> 24%Off </span> 
                     </div>
                     <h1 id="price">  $299.43 </h1>
                </div>
                    <div class = "quick-display-item quick-display-item-2 img-fit">
                   
                     <div>
                         <p class = "text-overflow-ellipsis" > FS - Nike Air </p>
                          <p class = "text-overflow-ellipsis" > Max 270 React lorem ipsum </p>
                     </div>

                     @*<div id="nike-shoe">
                        <img src="./Images/nike_shoe.png" alt="">
                    </div>*@

                    <div id="price-slash1">
                        <span id="promo-strike"><s>  $534.33 </s></span><span id="promo"> 24%Off </span>
                     </div>
                     <h1 id="price1">$299.43</h1>
                </div>
                <div class="quick-display-item quick-display-item-3 img-fit">
                    <div>
                        <p class="text-overflow-ellipsis">FS - Nike Air</p>
                        <p class="text-overflow-ellipsis">Max 270 React lorem ipsum</p>
                    </div>
                    @*<div id="nike-shoered">
                        <img src="./Images/red_nike_shoe.png" alt="">
                    </div>*@

                    <div id="price-slash1" >
                        <span id="promo-strike"><s> $534.33 </s></span><span id="promo"> 24%Off </span> 
                     </div>
                     <h1 id="price2">$299.43</h1>
                </div>
            </div>
            <!-- <div id="price-slash" >
               <span id="promo-strike"> <s> $534.33 </s> </span> <span id="promo"> 24%Off </span> 
            </div> -->
        </section>
    </section>
    <div class="Unordered-class"> 
        <P id="topic-seller">BEST SELLER</P>
        <ul class="Unordered">
            <li>
                <a class="nav active" href="#">All</a> 
            </li>
            <li>
                <a class="nav" href="#">Bags</a>
            </li>
            <li>
                <a class="nav" href="#">Sneakers</a>
            </li>
            <li>
                <a class="nav" href="#">Belt</a>
            </li>
            <li>
                <a class="nav" href="#">Sunglasses</a>
            </li>

        </ul>
    </div>
    
        <section class = "quick-display-section2">
            <div class = "d-flex justify-content-center quick-display-div">
                 <div class = "quick-display-item quick-display-item-1a img-fit">
                <div>
                     <p class="text-overflow-ellipsis1"> Nike Air Max 270 React</p>
                </div>
                <ul id="all-star1">
                    <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/stargrey.png" alt="">
                </li>
                </ul>
                <!-- <div>
                    <img src="./Images/star copy 4.png" alt="">
                </div> -->
                
                <div id="price-center">
                    <div id="price-slash3">
                        <span id="price-nk"> $299.43 </span>
                        <span id="promo-strike"><s>$534.33 </s></span><span id="promo"> 24%Off </span>
                        <!-- <div id="star">
                            <img src="./Images/star copy 4.png" alt="">
                        </div>
                        <div id="star2">
                            <img src="./Images/star copy 4 (1).png" alt="">
                        </div>
                        <div id="star3">
                            <img src="./Images/star copy 4 (1).png" alt="">
                        </div> -->
                     </div>
                </div>
            </div>
            <div class="quick-display-item quick-display-item-2a img-fit">
                <div>
                    <p class="text-overflow-ellipsis1">Nike Air Max 270 React</p>
                </div>
                
                <ul id="all-star1">
                    <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/stargrey.png" alt="">
                </li>
                </ul>

                <div id="price-center">
                    <div id="price-slash3">
                        <span id="price-nk"> $299.43 </span>
                        <span id="promo-strike"><s>$534.33 </s></span><span id="promo"> 24%Off </span>
                     </div>

                </div>
                
            </div>
            <div class="quick-display-item quick-display-item-3aa img-fit">
                <div>
                    <p class="text-overflow-ellipsis1"></p>
                    <p class="text-overflow-ellipsis1">Nike Air Max 270 React</p>
                </div>
                <ul id="all-star1">
                   <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/stargrey.png" alt="">
                </li>
                </ul>
                <div id="price-center">
                    <div id="price-slash3">
                        <span id="price-nk"> $299.43 </span>
                        <span id="promo-strike"><s>$534.33 </s></span><span id="promo"> 24%Off </span> 
                     </div>

                </div>
            </div>
            <div class="quick-display-item quick-display-item-3a img-fit">
                <div>
                    <p class="text-overflow-ellipsis"></p>
                    <p class="text-overflow-ellipsis1">Nike Air Max 270 React</p>
                </div>
                <ul id="all-star1">
                    <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/stargrey.png" alt="">
                </li>
                </ul>
                <div id="price-center">
                    <div id="price-slash3">
                        <span id="price-nk"> $299.43 </span>
                        <span id="promo-strike"><s>$534.33 </s></span><span id="promo"> 24%Off </span> 
                     </div>
                </div>
            </div>
        </div>
    </section>
    <section class="quick-display-section3">
        <div class="d-flex justify-content-center quick-display-div">
            <div class="quick-display-item quick-display-item-1b img-fit">
                <div>
                    <p class="text-overflow-ellipsis1">Nike Air Max 270 React</p>
                    <!-- <p class="text-overflow-ellipsis">CROSS BAG</p> -->
                    
                </div>
                <ul id="all-star1">
                    <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/stargrey.png" alt="">
                </li>
                </ul>
                <div id="price-center">
                    <div id="price-slash3">
                        <span id="price-nk"> $299.43 </span>
                        <span id="promo-strike"><s>$534.33 </s></span><span id="promo"> 24%Off </span> 
                     </div>
                </div>
            </div>
            <div class="quick-display-item quick-display-item-2b img-fit">
                <div>
                    <p class="text-overflow-ellipsis1">Nike Air Max 270 React</p>
                </div>
                <ul id="all-star1">
                    <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/stargrey.png" alt="">
                </li>
                </ul>
                <div id="price-center">
                    <div id="price-slash3">
                        <span id="price-nk"> $299.43 </span>
                        <span id="promo-strike"><s>$534.33 </s></span><span id="promo"> 24%Off </span> 
                     </div>
                </div>
            </div>
            <div class="quick-display-item quick-display-item-3b img-fit">
                <div>
                    <p class="text-overflow-ellipsis1"></p>
                    <p class="text-overflow-ellipsis1">Nike Air Max 270 React</p>
                </div>
                <ul id="all-star1">
                   <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/stargrey.png" alt="">
                </li>
                </ul>
                <div id="price-center">
                    <div id="price-slash3">
                        <span id="price-nk"> $299.43 </span>
                        <span id="promo-strike"><s>$534.33 </s></span><span id="promo"> 24%Off </span> 
                     </div>
                </div>
            </div>
            <div class="quick-display-item quick-display-item-4b img-fit">
                <div>
                    <p class="text-overflow-ellipsis1"></p>
                    <p class="text-overflow-ellipsis1">Nike Air Max 270 React</p>
                </div>
                <ul id="all-star1">
                    <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/stargrey.png" alt="">
                </li>
                </ul>
                <div id="price-center">
                    <div id="price-slash3">
                        <span id="price-nk"> $299.43 </span>
                        <span id="promo-strike"><s>$534.33 </s></span><span id="promo"> 24%Off </span> 
                     </div>
                </div>
            </div>
        </div>
        <p id="load">LOAD MORE</p>
    </section>
    <section class="Back-image">
<img src="./Images/shoes-shoe-png-transparent-shoe-images-pluspng171.png" width = "700" alt="Shoe">
<p id="Adidas-text">Adidas Men Running <br> Sneakers </p>
<p id="Adidad-subtext">Performance and design. Taken right to the edge.</p>
<p id="Adidads-shop">SHOP NOW</p>
    </section>
    
    <section class="flex Help-support">
                <div class="flex-column max-width">
                    <img src="../Images/shipping.png" alt="">
                    <h3>FREE SHIPPING</h3>
                    <p id="shipping">Lorem Ipsum is simply <br> dummy text of the <br> printing and typesetting <br> industry.</p>
                    <!-- <p class="text-overflow-ellipsis">CROSS BAG</p> -->
                </div>

                <div class="flex-column max-width">
                    <img src="./Images/Path2.png" alt="">
                    <h3>100% REFUND</h3>
                    <p id="shipping">Lorem Ipsum is simply <br> dummy text of the <br> printing and typesetting <br> industry.</p>
                    <!-- <p class="text-overflow-ellipsis">CROSS BAG</p> -->
                </div>
                <div class="flex-column max-width">
                    <img src="./Images/Path4.png" alt="">
                    <h3>SUPPORT 24/7</h3>
                    <p id="shipping">Lorem Ipsum is simply <br> dummy text of the <br> printing and typesetting <br> industry.</p>
                    <!-- <p class="text-overflow-ellipsis">CROSS BAG</p> -->
                </div>
    </section>
    <h1 id="latest-news">LATEST NEWS</h1>
    <p id="date"> 01 Jan, 2015 </p>
    <section class="flex even-space">
        <div class="flex-row width">
            <div>
                <img src="./Images/Nike_logo_emblem_logotype1.png"  alt="">
            </div>
            <div>
            <h3>Fashion Industry</h3>
            <p id="fashion">Lorem Ipsum is simply <br> dummy text of the <br> printing and typesetting <br> industry.</p>
            </div>
        </div>

        <div class="flex-row tool-adjust">
            <div>
                <img src="./Images/figma-1-logo1red.png" alt="">
            </div>
            <div>
                <p id="date2"> 01 Jan, 2015 </p>
                <h3>Best Design Tools</h3>
                <p>Lorem Ipsum is simply <br> dummy text of the <br> printing and typesetting <br> industry.</p>
            </div>
        </div>

        <div class="flex-row">
            <div id="kronos">
                <img src="./Images/kronos-logo-1-1-1.png" alt="">
            </div>
            <div>
                <p id="date3"> 01 Jan, 2015 </p>
             <h3>HR Community</h3>
             <p>Lorem Ipsum is simply <br> dummy text of the <br> printing and typesetting <br> industry.</p>
            </div>
        </div>
</section>
<h1 id="latest-news" >FEATURED PRODUCTS</h1>
<section class="flex Help-support">
    <div class="flex-column max-width">
        <div>
            <img src="./Images/Vectorashe.png" alt="">
        </div>
        <div>

            <p id="sneaker-text">Blue Swade Nike <br>
                Sneakers
            </p>
            <ul id="all-starsneaker">
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/starcopy4(1).png" alt="">
                </li>
                <li>
                    <img src="/Images/stargrey.png" alt="">
                </li>
            </ul>
            <h1 id="promo-sneaker"> $499  <s id="promo-strike">$599</s> </h1>
        </div>
        
        <!-- <p class="text-overflow-ellipsis">CROSS BAG</p> -->
    </div>

    <div class="flex-column max-width">
        <img src="./Images/Vectorashe.png" alt="">
        <div>

            <p id="sneaker-text">Blue Swade Nike <br>
                Sneakers
            </p>
            <ul id="all-starsneaker">
                <li>
                    <img src="./Images/starcopy4.png" alt="">
                </li>
                <li>
                    <img src="./Images/starcopy4.png" alt="">
                </li>
                <li>
                    <img src="./Images/starcopy4.png" alt="">
                </li>
                <li>
                    <img src="./Images/starcopy4.png" alt="">
                </li>
                <li>
                    <img src="./Images/stargrey.png" alt="">
                </li>
            </ul>
            <h1 id="promo-sneaker"> $499  <s id="promo-strike">$599</s> </h1>
        </div>
    </div>
    <div class="flex-column max-width">
        <div id="sneakerrightend">
            <img src="./Images/Vectorashe.png" alt="" >
        </div>
        <div id="sneakerlasttext">

            <p id="sneaker-text">Blue Swade Nike <br>
                Sneakers
            </p>
            <ul id="all-starsneaker">
                <li>
                    <img src="./Images/starcopy4.png" alt="">
                </li>
                <li>
                    <img src="./Images/starcopy4.png" alt="">
                </li>
                <li>
                    <img src="./Images/starcopy4.png" alt="">
                </li>
                <li>
                    <img src="./Images/starcopy4.png" alt="">
                </li>
                <li>
                    <img src="./Images/stargrey.png" alt="">
                </li>
            </ul>
            <h1 id="promo-sneaker"> $499  <s id="promo-strike">$599</s> </h1>
        </div>
    </div>
    
</section>
<div id="search">
    <img src="./Images/Searchspace.png" alt="">
</div>
    <div class="searchcol">
        <img src="./Images/searchcolor.png" alt="">
        <h1 id="searchtext">Search</h1>
    </div>
<p id="searchquery">Search query...</p>